


#Vorschaubild{
  width:350px;
  height:300px; 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left:10px;
  border-radius: 20px;
  

}

#Vorschaubild2{
  width:250px;
  height:350px; 
  padding-top: 20px;
  border-radius: 3px;
}

.Miniaturbild
{
    width: 80px;
    height:120px;
}

.Miniaturbild_Kleidung
{
    width: 120px;
    height:120px;
}

b
{color: #4863a0;
}
.color
{
  color:black;
}

.border
{
    border: 0.5px solid rgb(100, 0, 0);
    border: 0.5px solid rgba(100, 0, 0, 0);
    border-radius: 1px;
    box-shadow: 0px 0px 0px 8px rgba(0,0,0,0); 
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    height: 100%;
    border-style: solid;  border-color: gray;

}

h5
{
  font-weight: bold;
}


#beispiel{
  background-image: url('...');
}

.outerContent{
  float: left;
  position: relative;
  
}

.Quadrat{
  width: 25%;
  padding-bottom: 25%;
}

.innerContent{
  position: absolute;
  left: 3px;
  right:3px;
  top: 3px;
  bottom: 3px;
  border: 1px solid #d3d3d3;	
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
}



.innerContent:hover{
  border-color: #4863a0;
  transition: 0.4s;    
}

.gallery-container{
  padding: 4px;
}

@media(max-width:767px){  
  .outerContent{
    padding-bottom: 33.33%;
  }
}
@media(min-width:768px){
  .outerContent{
    padding-bottom: 25%;
  }
}
@media(min-width:992px){  
  .outerContent{
    padding-bottom: 16.66%;
  }
}

/*Start POPUP*/

/* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.popup .hide {
    visibility: visible;
   
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* ende POPUP*/